In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Data Ingestion
Source: Bank of Canada / Statistics Canada  
Purpose: Prepare historical credit measures for downstream risk modeling

In [ ]:
# Reload data by skipping metadata rows to isolate tabular credit values
df = pd.read_csv(r"../data/raw/bank_of_canada_credit.csv")

In [42]:
df.head()

,"Credit measures, Bank of Canada (x 1,000,000) 1",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Frequency: Monthly,NaN,NaN,NaN,NaN,NaN,NaN
1,Table: 10-10-0118-01 (formerly CANSIM 176-0032),NaN,NaN,NaN,NaN,NaN,NaN
2,Release date: 2020-11-02,NaN,NaN,NaN,NaN,NaN,NaN
3,Geography: Canada,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df.head(15)

,"Credit measures, Bank of Canada (x 1,000,000) 1",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Frequency: Monthly,NaN,NaN,NaN,NaN,NaN,NaN
1,Table: 10-10-0118-01 (formerly CANSIM 176-0032),NaN,NaN,NaN,NaN,NaN,NaN
2,Release date: 2020-11-02,NaN,NaN,NaN,NaN,NaN,NaN
3,Geography: Canada,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Geography,Canada,NaN,NaN,NaN,NaN
8,Type of credit,Seasonal adjustment,May-20,Jun-20,Jul-20,Aug-20,Sep-20
9,Total business and household credit,NaN,Dollars,NaN,NaN,NaN,NaN
10,NaN,Unadjusted,"46,22,557","46,20,003","46,20,160","46,18,799","46,38,279"
11,NaN,Seasonally adjusted,"46,26,688","46,19,867","46,14,677","46,13,161","46,31,546"
12,Household credit,Unadjusted,"22,86,299","22,93,382","23,03,126","23,15,383","23,34,129"
13,NaN,Seasonally adjusted,"22,93,203","22,95,706","23,02,056","23,11,208","23,27,992"
14,Residential mortgage credit,Unadjusted,"16,65,804","16,73,882","16,82,059","16,92,623","17,07,880"

In [47]:
df.head(100)

,"Credit measures, Bank of Canada (x 1,000,000) 1",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Frequency: Monthly,NaN,NaN,NaN,NaN,NaN,NaN
1,Table: 10-10-0118-01 (formerly CANSIM 176-0032),NaN,NaN,NaN,NaN,NaN,NaN
2,Release date: 2020-11-02,NaN,NaN,NaN,NaN,NaN,NaN
3,Geography: Canada,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Geography,Canada,NaN,NaN,NaN,NaN
8,Type of credit,Seasonal adjustment,May-20,Jun-20,Jul-20,Aug-20,Sep-20
9,Total business and household credit,NaN,Dollars,NaN,NaN,NaN,NaN
10,NaN,Unadjusted,"46,22,557","46,20,003","46,20,160","46,18,799","46,38,279"
11,NaN,Seasonally adjusted,"46,26,688","46,19,867","46,14,677","46,13,161","46,31,546"
12,Household credit,Unadjusted,"22,86,299","22,93,382","23,03,126","23,15,383","23,34,129"
13,NaN,Seasonally adjusted,"22,93,203","22,95,706","23,02,056","23,11,208","23,27,992"
14,Residential mortgage credit,Unadjusted,"16,65,804","16,73,882","16,82,059","16,92,623","17,07,880"
15,NaN,Seasonally adjusted,"16,71,280","16,77,019","16,82,913","16,91,288","17,05,636"
16,Consumer credit,Unadjusted,"6,20,495","6,19,500","6,21,067","6,22,760","6,26,249"
17,NaN,Seasonally adjusted,"6,21,923","6,18,687","6,19,143","6,19,920","6,22,356"
18,Business credit 2,Unadjusted,"23,36,259","23,26,622","23,17,036","23,03,416","23,04,149"
19,NaN,Seasonally adjusted,"23,33,486","23,24,162","23,12,623","23,01,953","23,03,554"
20,Other business credit 2,Unadjusted,<NA>,<NA>,<NA>,<NA>,<NA>
21,NaN,Seasonally adjusted,<NA>,<NA>,<NA>,<NA>,<NA>
22,Short-term business credit 2,Unadjusted,<NA>,<NA>,<NA>,<NA>,<NA>
23,NaN,Seasonally adjusted,<NA>,<NA>,<NA>,<NA>,<NA>
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Symbol legend:,NaN,NaN,NaN,NaN,NaN,NaN
26,<NA>,not available for a specific reference period,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN
32,1,"Through December 2020, the Bank is gradually p...",NaN,NaN,NaN,NaN,NaN
33,2,"As of November 2015, business credit has been ...",NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,How to cite: Statistics Canada. Table 10-10-01...,NaN,NaN,NaN,NaN,NaN,NaN
38,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
DATA_PATH = "../data/raw/bank_of_canada_credit.csv"
df = pd.read_csv(DATA_PATH, skiprows=8, engine="python")

In [53]:
df.head()

,Unnamed: 0,Geography,Canada,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Type of credit,Seasonal adjustment,May-20,Jun-20,Jul-20,Aug-20,Sep-20
1,Total business and household credit,NaN,Dollars,NaN,NaN,NaN,NaN
2,NaN,Unadjusted,"46,22,557","46,20,003","46,20,160","46,18,799","46,38,279"
3,NaN,Seasonally adjusted,"46,26,688","46,19,867","46,14,677","46,13,161","46,31,546"
4,Household credit,Unadjusted,"22,86,299","22,93,382","23,03,126","23,15,383","23,34,129"

In [ ]:
df.columns = (
    df.columns
    .astype(str)
    .str.strip()
    .str.replace("\n", " ")
)

In [55]:
print(df.columns.tolist())

['Unnamed: 0', 'Geography', 'Canada', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']

In [ ]:
# Rename first column to represent credit category
# (e.g., Household, Business, Mortgage) for risk segmentation
df = df.rename(columns={df.columns[0]: "Type_of_Credit"})

In [58]:
df["Type_of_Credit"] = df["Type_of_Credit"].ffill()

In [59]:
df = df.replace("..", pd.NA)

In [60]:
df = df[~df["Type_of_Credit"].str.contains(
    "Symbol legend|Footnotes|https|Table:",
    na=False
)]

In [ ]:
date_cols = df.columns[2:]  # after Seasonal adjustment

for col in date_cols:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace(",", "")
        .astype(float)
    )

In [67]:
df.head(10)

,Type_of_Credit,Geography,Canada,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Type of credit,Seasonal adjustment,May-20,Jun-20,Jul-20,Aug-20,Sep-20
1,Total business and household credit,NaN,Dollars,NaN,NaN,NaN,NaN
2,Total business and household credit,Unadjusted,"46,22,557","46,20,003","46,20,160","46,18,799","46,38,279"
3,Total business and household credit,Seasonally adjusted,"46,26,688","46,19,867","46,14,677","46,13,161","46,31,546"
4,Household credit,Unadjusted,"22,86,299","22,93,382","23,03,126","23,15,383","23,34,129"
5,Household credit,Seasonally adjusted,"22,93,203","22,95,706","23,02,056","23,11,208","23,27,992"
6,Residential mortgage credit,Unadjusted,"16,65,804","16,73,882","16,82,059","16,92,623","17,07,880"
7,Residential mortgage credit,Seasonally adjusted,"16,71,280","16,77,019","16,82,913","16,91,288","17,05,636"
8,Consumer credit,Unadjusted,"6,20,495","6,19,500","6,21,067","6,22,760","6,26,249"
9,Consumer credit,Seasonally adjusted,"6,21,923","6,18,687","6,19,143","6,19,920","6,22,356"

In [68]:
df = df[df[df.columns[2]] != df.columns[2]]

In [69]:
df = df.reset_index(drop=True)

In [ ]:
date_cols = df.columns[2:]

for col in date_cols:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace(",", "", regex=False)
        .astype(float)
    )

In [71]:
date_cols = df.columns[2:]

In [72]:
month_pattern = r'Jan-|Feb-|Mar-|Apr-|May-|Jun-|Jul-|Aug-|Sep-|Oct-|Nov-|Dec-'

df = df[~df[date_cols].astype(str).apply(
    lambda row: row.str.contains(month_pattern, regex=True).any(),
    axis=1
)]

In [73]:
df = df.reset_index(drop=True)

In [ ]:
for col in date_cols:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace(",", "", regex=False)
        .replace("nan", pd.NA)
        .astype(float)
    )

In [75]:
date_cols = df.columns[2:]

for col in date_cols:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace(",", "", regex=False)
        .pipe(pd.to_numeric, errors="coerce")
    )

In [76]:
df = df.dropna(subset=date_cols, how="all")

In [77]:
df = df.reset_index(drop=True)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Type_of_Credit  10 non-null     object
 1   Geography       10 non-null     object
 2   Canada          10 non-null     float64
 3   Unnamed: 3      10 non-null     float64
 4   Unnamed: 4      10 non-null     float64
 5   Unnamed: 5      10 non-null     float64
 6   Unnamed: 6      10 non-null     float64
dtypes: float64(5), object(2)
memory usage: 692.0+ bytes

In [79]:
df.head()

,Type_of_Credit,Geography,Canada,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Total business and household credit,Unadjusted,4622557.0,4620003.0,4620160.0,4618799.0,4638279.0
1,Total business and household credit,Seasonally adjusted,4626688.0,4619867.0,4614677.0,4613161.0,4631546.0
2,Household credit,Unadjusted,2286299.0,2293382.0,2303126.0,2315383.0,2334129.0
3,Household credit,Seasonally adjusted,2293203.0,2295706.0,2302056.0,2311208.0,2327992.0
4,Residential mortgage credit,Unadjusted,1665804.0,1673882.0,1682059.0,1692623.0,1707880.0

In [80]:
df.head(100)

,Type_of_Credit,Geography,Canada,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Total business and household credit,Unadjusted,4622557.0,4620003.0,4620160.0,4618799.0,4638279.0
1,Total business and household credit,Seasonally adjusted,4626688.0,4619867.0,4614677.0,4613161.0,4631546.0
2,Household credit,Unadjusted,2286299.0,2293382.0,2303126.0,2315383.0,2334129.0
3,Household credit,Seasonally adjusted,2293203.0,2295706.0,2302056.0,2311208.0,2327992.0
4,Residential mortgage credit,Unadjusted,1665804.0,1673882.0,1682059.0,1692623.0,1707880.0
5,Residential mortgage credit,Seasonally adjusted,1671280.0,1677019.0,1682913.0,1691288.0,1705636.0
6,Consumer credit,Unadjusted,620495.0,619500.0,621067.0,622760.0,626249.0
7,Consumer credit,Seasonally adjusted,621923.0,618687.0,619143.0,619920.0,622356.0
8,Business credit 2,Unadjusted,2336259.0,2326622.0,2317036.0,2303416.0,2304149.0
9,Business credit 2,Seasonally adjusted,2333486.0,2324162.0,2312623.0,2301953.0,2303554.0

In [81]:
print(df.columns.tolist())

['Type_of_Credit', 'Geography', 'Canada', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']

In [82]:
df = df.rename(columns={
    'Canada': 'May-25',
    'Unnamed: 3': 'Jun-25',
    'Unnamed: 4': 'Jul-25',
    'Unnamed: 5': 'Aug-25',
    'Unnamed: 6': 'Sep-25'
})

In [83]:
df = df.rename(columns={
    'Type_of_Credit': 'Credit_Type',
    'Geography': 'Adjustment_Type'
})

In [84]:
df = df[df['Adjustment_Type'] == 'Seasonally adjusted']
df = df.reset_index(drop=True)

In [85]:
df_long = df.melt(
    id_vars=['Credit_Type', 'Adjustment_Type'],
    var_name='Month',
    value_name='Credit_Amount_Millions'
)

In [86]:
df_long

,Credit_Type,Adjustment_Type,Month,Credit_Amount_Millions
0,Total business and household credit,Seasonally adjusted,May-25,4626688.0
1,Household credit,Seasonally adjusted,May-25,2293203.0
2,Residential mortgage credit,Seasonally adjusted,May-25,1671280.0
3,Consumer credit,Seasonally adjusted,May-25,621923.0
4,Business credit 2,Seasonally adjusted,May-25,2333486.0
5,Total business and household credit,Seasonally adjusted,Jun-25,4619867.0
6,Household credit,Seasonally adjusted,Jun-25,2295706.0
7,Residential mortgage credit,Seasonally adjusted,Jun-25,1677019.0
8,Consumer credit,Seasonally adjusted,Jun-25,618687.0
9,Business credit 2,Seasonally adjusted,Jun-25,2324162.0
10,Total business and household credit,Seasonally adjusted,Jul-25,4614677.0
11,Household credit,Seasonally adjusted,Jul-25,2302056.0
12,Residential mortgage credit,Seasonally adjusted,Jul-25,1682913.0
13,Consumer credit,Seasonally adjusted,Jul-25,619143.0
14,Business credit 2,Seasonally adjusted,Jul-25,2312623.0
15,Total business and household credit,Seasonally adjusted,Aug-25,4613161.0
16,Household credit,Seasonally adjusted,Aug-25,2311208.0
17,Residential mortgage credit,Seasonally adjusted,Aug-25,1691288.0
18,Consumer credit,Seasonally adjusted,Aug-25,619920.0
19,Business credit 2,Seasonally adjusted,Aug-25,2301953.0
20,Total business and household credit,Seasonally adjusted,Sep-25,4631546.0
21,Household credit,Seasonally adjusted,Sep-25,2327992.0
22,Residential mortgage credit,Seasonally adjusted,Sep-25,1705636.0
23,Consumer credit,Seasonally adjusted,Sep-25,622356.0
24,Business credit 2,Seasonally adjusted,Sep-25,2303554.0

In [87]:
df_long['Month'] = pd.to_datetime(df_long['Month'], format='%b-%y')

In [88]:
df_long = df_long.sort_values(['Credit_Type', 'Month'])

In [89]:
df_long

,Credit_Type,Adjustment_Type,Month,Credit_Amount_Millions
4,Business credit 2,Seasonally adjusted,2025-05-01,2333486.0
9,Business credit 2,Seasonally adjusted,2025-06-01,2324162.0
14,Business credit 2,Seasonally adjusted,2025-07-01,2312623.0
19,Business credit 2,Seasonally adjusted,2025-08-01,2301953.0
24,Business credit 2,Seasonally adjusted,2025-09-01,2303554.0
3,Consumer credit,Seasonally adjusted,2025-05-01,621923.0
8,Consumer credit,Seasonally adjusted,2025-06-01,618687.0
13,Consumer credit,Seasonally adjusted,2025-07-01,619143.0
18,Consumer credit,Seasonally adjusted,2025-08-01,619920.0
23,Consumer credit,Seasonally adjusted,2025-09-01,622356.0
1,Household credit,Seasonally adjusted,2025-05-01,2293203.0
6,Household credit,Seasonally adjusted,2025-06-01,2295706.0
11,Household credit,Seasonally adjusted,2025-07-01,2302056.0
16,Household credit,Seasonally adjusted,2025-08-01,2311208.0
21,Household credit,Seasonally adjusted,2025-09-01,2327992.0
2,Residential mortgage credit,Seasonally adjusted,2025-05-01,1671280.0
7,Residential mortgage credit,Seasonally adjusted,2025-06-01,1677019.0
12,Residential mortgage credit,Seasonally adjusted,2025-07-01,1682913.0
17,Residential mortgage credit,Seasonally adjusted,2025-08-01,1691288.0
22,Residential mortgage credit,Seasonally adjusted,2025-09-01,1705636.0
0,Total business and household credit,Seasonally adjusted,2025-05-01,4626688.0
5,Total business and household credit,Seasonally adjusted,2025-06-01,4619867.0
10,Total business and household credit,Seasonally adjusted,2025-07-01,4614677.0
15,Total business and household credit,Seasonally adjusted,2025-08-01,4613161.0
20,Total business and household credit,Seasonally adjusted,2025-09-01,4631546.0

In [ ]:
# Export the cleaned DataFrame to a CSV file
df.to_csv(r"..\processed_data\bank_of_canada_cleaned.csv", index=False)