In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv(r"../data/processed_data/bank_of_canada_cleaned.csv")

In [5]:
numeric_cols = df.select_dtypes(include='number').columns
categorical_cols = df.select_dtypes(include='object').columns

In [6]:
months = ['May-25', 'Jun-25', 'Jul-25', 'Aug-25', 'Sep-25']

for i in range(1, len(months)):
    df[f'{months[i]}_MoM_change'] = df[months[i]] - df[months[i-1]]

In [7]:
for i in range(1, len(months)):
    df[f'{months[i]}_MoM_pct_change'] = (
        (df[months[i]] - df[months[i-1]]) / df[months[i-1]]
    ) * 100

In [8]:
df['avg_credit'] = df[months].mean(axis=1)
df['max_credit'] = df[months].max(axis=1)
df['min_credit'] = df[months].min(axis=1)
df['credit_range'] = df['max_credit'] - df['min_credit']

In [9]:
df['credit_trend'] = df[months[-1]] - df[months[0]]

In [10]:
df['credit_std_dev'] = df[months].std(axis=1)

In [ ]:
#If multiple credit categories
df['household_to_total_credit'] = (
    df['Household Credit'] / df['Total Credit']
)

In [12]:
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [14]:
df.head()

,May-25,Jun-25,Jul-25,Aug-25,Sep-25,Jun-25_MoM_change,Jul-25_MoM_change,Aug-25_MoM_change,Sep-25_MoM_change,Jun-25_MoM_pct_change,...,avg_credit,max_credit,min_credit,credit_range,credit_trend,credit_std_dev,Credit_Type_Consumer credit,Credit_Type_Household credit,Credit_Type_Residential mortgage credit,Credit_Type_Total business and household credit
0,1.000000,1.000000,1.000000,1.000000,1.000000,-6821.0,-5190.0,-1516.0,18385.0,-0.147427,...,4621187.8,4631546.0,4613161.0,18385.0,4858.0,7843.931648,False,False,False,True
1,0.417323,0.419131,0.421199,0.423538,0.425432,2503.0,6350.0,9152.0,16784.0,0.109149,...,2306033.0,2327992.0,2293203.0,34789.0,34789.0,14107.184907,False,True,False,False
2,0.262027,0.264505,0.266240,0.268295,0.270199,5739.0,5894.0,8375.0,14348.0,0.343389,...,1685627.2,1705636.0,1671280.0,34356.0,34356.0,13413.676517,False,False,True,False
3,0.000000,0.000000,0.000000,0.000000,0.000000,-3236.0,456.0,777.0,2436.0,-0.520322,...,620405.8,622356.0,618687.0,3669.0,433.0,1650.008697,True,False,False,False
4,0.427382,0.426243,0.423843,0.421220,0.419336,-9324.0,-11539.0,-10670.0,1601.0,-0.399574,...,2315155.6,2333486.0,2301953.0,31533.0,-29932.0,13531.801776,False,False,False,False

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 23 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   May-25                                           5 non-null      float64
 1   Jun-25                                           5 non-null      float64
 2   Jul-25                                           5 non-null      float64
 3   Aug-25                                           5 non-null      float64
 4   Sep-25                                           5 non-null      float64
 5   Jun-25_MoM_change                                5 non-null      float64
 6   Jul-25_MoM_change                                5 non-null      float64
 7   Aug-25_MoM_change                                5 non-null      float64
 8   Sep-25_MoM_change                                5 non-null      float64
 9   Jun-25_MoM_pct_change                            5 non-null      float64
 10  Jul-25_MoM_pct_change                            5 non-null      float64
 11  Aug-25_MoM_pct_change                            5 non-null      float64
 12  Sep-25_MoM_pct_change                            5 non-null      float64
 13  avg_credit                                       5 non-null      float64
 14  max_credit                                       5 non-null      float64
 15  min_credit                                       5 non-null      float64
 16  credit_range                                     5 non-null      float64
 17  credit_trend                                     5 non-null      float64
 18  credit_std_dev                                   5 non-null      float64
 19  Credit_Type_Consumer credit                      5 non-null      bool
 20  Credit_Type_Household credit                     5 non-null      bool
 21  Credit_Type_Residential mortgage credit          5 non-null      bool
 22  Credit_Type_Total business and household credit  5 non-null      bool
dtypes: bool(4), float64(19)
memory usage: 912.0 bytes

In [16]:
df.describe()

,May-25,Jun-25,Jul-25,Aug-25,Sep-25,Jun-25_MoM_change,Jul-25_MoM_change,Aug-25_MoM_change,Sep-25_MoM_change,Jun-25_MoM_pct_change,Jul-25_MoM_pct_change,Aug-25_MoM_pct_change,Sep-25_MoM_pct_change,avg_credit,max_credit,min_credit,credit_range,credit_trend,credit_std_dev
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,5.000000,5.000000,5.000000
mean,0.421346,0.421976,0.422256,0.422611,0.422993,-2227.80000,-805.800000,1223.600000,10710.800000,-0.122957,0.018589,0.105294,0.487117,2.309682e+06,2.324203e+06,2.299657e+06,24546.400000,8900.800000,10109.320709
std,0.366677,0.366401,0.366208,0.365990,0.365796,6291.27131,7617.541021,8111.174841,8069.496558,0.355797,0.340165,0.380780,0.307703,1.465111e+06,1.466530e+06,1.463973e+06,13451.583245,26991.666912,5369.055071
min,0.000000,0.000000,0.000000,0.000000,0.000000,-9324.00000,-11539.000000,-10670.000000,1601.000000,-0.520322,-0.496480,-0.461381,0.069550,6.204058e+05,6.223560e+05,6.186870e+05,3669.000000,-29932.000000,1650.008697
25%,0.262027,0.264505,0.266240,0.268295,0.270199,-6821.00000,-5190.000000,-1516.000000,2436.000000,-0.399574,-0.112341,-0.032852,0.392954,1.685627e+06,1.705636e+06,1.671280e+06,18385.000000,433.000000,7843.931648
50%,0.417323,0.419131,0.421199,0.421220,0.419336,-3236.00000,456.000000,777.000000,14348.000000,-0.147427,0.073704,0.125496,0.398534,2.306033e+06,2.327992e+06,2.293203e+06,31533.000000,4858.000000,13413.676517
75%,0.427382,0.426243,0.423843,0.423538,0.425432,2503.00000,5894.000000,8375.000000,16784.000000,0.109149,0.276603,0.397558,0.726200,2.315156e+06,2.333486e+06,2.301953e+06,34356.000000,34356.000000,13531.801776
max,1.000000,1.000000,1.000000,1.000000,1.000000,5739.00000,6350.000000,9152.000000,18385.000000,0.343389,0.351457,0.497649,0.848348,4.621188e+06,4.631546e+06,4.613161e+06,34789.000000,34789.000000,14107.184907

In [ ]:
# Export the featured DataFrame to a CSV file
df.to_csv(r"..data\processed_data\bank_of_canada_feature_engineered.csv", index=False)